*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

.login{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 150px;
    box-sizing: border-box;
    justify-content: center;
    background-image: url(/images/login-background.jpeg);
    background-size: cover;
    align-items: center;
}

.wrapper{
    align-self: center;
    width:420px;
    background-color: black;
    color: #fff;
    border-radius: 20px;
    padding:50px 30px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;

}
.wrapper .input-box{
    position:relative;
    width:100%;
    height:50px;
    
    margin:30px 0;
}
.input-box input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255, 255, 255, .2);
    border-radius:40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color:#fff;
    
}
.input-box i { 
    position: absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    font-size: 20px 0 15px;

}
.wrapper .remember-forgot{
    display:flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin:-15px 0 15px;

}.remember-forgot label input {
    accent-color: #fff;
    margin: right 3px;

}
.remember-forgot a {
    color:#fff;
    text-decoration:none;

}
.remember-forgot a:hover {
    text-decoration:underline;
}
.wrapper .btn{
    width:100%;
    height:45px;
    background:#fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size:16px;
    color:#333;
    font-weight:600;

}
.wrapper.register-link{
    font-size:14.5px;
    text-align:center;
    margin-top:20px;

}
.register-link p a{
    color:#fff;
    text-decoration:none;
    font-weight:600;
}

.register-link p a:hover{
    text-decoration: underline;
}
#lottie-animation
 {
    display: none;
}


/* START OF MAIN PAGE*/

body.mainpage {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    margin: 100px;
}

.mainpage{
    margin-top: 150px;
}

.header2 {
    font-family: 'Kavivanar', cursive;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem 5%;
    background: black;
    font-size: 45px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}



  


.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 20px); /* Change this value to 33.333% */
    height: 360px;
    border: 1px solid #ccc;
    background-color: rgb(226, 223, 223);
    border-radius: 5px;
    margin: 10px 10px 10px 0; /* Change the margin to have a left margin of 0 for every third element */
    padding: 10px;
    box-sizing: border-box;
}
#product-cards {
    display: flex;
    flex-wrap: wrap;
}
  
  .product-card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-card h2 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  .product-card p {
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  /*FILTER PORTION*/
  .filter-box {
    border: 2px solid rgb(255, 255, 255); /* Border style */
    display: inline-block; /* Display as inline block to fit content */
    padding: 5px; /* Padding to add space around the text */
    font-size: 15px;
    color: #f9f9f9;
    background-color: grey;
    
}
.all{
    border: 2px solid rgb(255, 255, 255); /* Border style */
    display: inline-block; /* Display as inline block to fit content */
    padding: 5px; /* Padding to add space around the text */
    font-size: 15px;
    color: #f9f9f9;
    border-radius: 1em;
    background-color: grey;
}
.electronics{
    border: 2px solid rgb(255, 255, 255); /* Border style */
    display: inline-block; /* Display as inline block to fit content */
    padding: 5px; /* Padding to add space around the text */
    font-size: 15px;
    color: #f9f9f9;
    border-radius: 1em;
    background-color: grey;
}
.jewelery
{
    border: 2px solid rgb(255, 255, 255); /* Border style */
    display: inline-block; /* Display as inline block to fit content */
    padding: 5px; /* Padding to add space around the text */
    font-size: 15px;
    color: #f9f9f9;
    border-radius: 1em;
    background-color: grey;
}
.men{
    border: 2px solid rgb(255, 255, 255); /* Border style */
    display: inline-block; /* Display as inline block to fit content */
    padding: 5px; /* Padding to add space around the text */
    font-size: 15px;
    color: #f9f9f9;
    border-radius: 1em;
    background-color: grey;
}
.women{
    display: inline-block; /* Display as inline block to fit content */

}
 /*when webssite is in mobile view*/
 @media(max-width:768px){
    .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 20px); /* Set the width to 100% */
        height: 360px;
        border: 1px solid #ccc;
        background-color: rgb(226, 223, 223);
        border-radius: 5px;
        margin: 10px 0; /* Remove the right margin */
        padding: 10px;
        box-sizing: border-box;
    }
}
/*back to top button*/
.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }
  
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }
  html{
    scroll-behavior: smooth;
    }
/*HEADER*/
header
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 100px;
    position: fixed;
    left:0;
    width:100%;
    padding: 20px;
    background:black;
    font-size: 45px;
    color:white;
    top:0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*NAV BAR*/
nav{
    overflow:hidden;
    height: auto;
    text-align: center;
    color: black;
    background-color: rgb(138, 138, 138);
    position: fixed;
    padding: 10px;
    top: 80px;
    width: 100%;
    z-index: 10000;
}

nav a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none;
}

.active{
    color: white;
    background-color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}
 /*NAV MAIN BAR*/
 .mainpage nav{
    overflow:hidden;
    height: auto;
    text-align: center;
    color: black;
    margin-left: -100px;
    background-color: rgb(138, 138, 138);
    position: fixed;
    padding: -100px;
    top: 80px;
    width: 100%;
    z-index: 10000;
}   


/*BODY*/
body{
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
    margin-top:100px;
    padding:0;
}

/*HOME PAGE*/
.row-home-products{
    display: flex;
    text-align: center;
}

.col-product{
    flex: 100%;
    padding: 50px;
}

/*PROMO PAGE*/
.row-promo{
    display: flex;
    text-align: center;
}

.col-promo{
    flex: 100%;
    margin-top: 100px;
}

/* CART PAGE */
#cart {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 120px;
    padding: 20px;
    
}

#cart h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 50px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: black;
    color: white; /*color of all the letters and numbers*/
    border-radius: 20px;
}

.product-name{
    margin-right: 10px;
}

.quantity {
    margin: 0 10px;
}

button {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    color: black; /*this is the + - color*/
}

button:hover {
    background-color: gray;
}

.total-display{
    position: absolute;
    bottom: 0;
    padding: 50px;
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
}

/*REWARDS PAGE*/
.claim-section {
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: center;
}
.claim-button {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.claimed {
    background-color:rgb(176, 176, 255);
    color: black;
    cursor: not-allowed;
}
.discount {
    font-size: 14px;
    margin-left: 5px;
}
/* Styles for the voucher section */
.voucher-section {
    padding: 10px;
    text-align: center;
}

.vouchers {
    padding: 35px;
    margin: 50px;
    margin-top: 25px;
    background-color: black;
    color: white;
    border-radius: 15px;
}

/* Styles for dropdown button */
.dropdown {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-button {
    padding: 12px 16px; /* Match the padding of dropdown content buttons */
    background-color:black;
    color: white;
    border: 1px solid white;
    cursor: pointer; /* Set cursor to pointer */
}

.dropdown-button:hover {
    background-color:white; /* Change background color on hover */
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:white;
    color: black;
}

/*ABOUT US PAGE*/

/*instagram button*/
.insta{
    position: fixed;
    width: 50px;
    height: 50px;
    background:black;
    bottom: 40px;
    right: 50px;
  
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}
/*tiktok button*/
.tiktok{
    position: fixed;
    width: 50px;
    height: 50px;
    background:black;
    bottom: 40px;
    right: 100px;
  
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}
body.About{
    display:flex;
    justify-content: center;
    align-items: center;
    
    padding: 450px;
    padding-top: 50px;
    box-sizing: border-box;
    color: black;
    font-weight: bold;}
    @media(max-width:768px){
    body.About {
        display:flex;
        justify-content: center;
        align-items: center;
        
        padding: 40px;
        padding-top: 50px;
        box-sizing: border-box;
        color: black;
        font-weight: bold;
    }
    }